
body{
	padding-bottom: 0px;
	-webkit-font-smoothing: antialiased;
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.navbar{
	margin: 0px;
}

/* universal */
.middle{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.list-cell-inner{
	background-size: cover;
	background-position: center;
}
.list-cell-inner-chart{

}
.glyphicon-bookmark{
	color: #ff0000;
	font-weight: lighter;
	font-size: 1.2em;
}
.bookmark-count{
	color: #ffdd00;
}

/* larger than xs  */
@media screen and (min-width: 640px){
	.nodisplay{
		display: none;
	}	
	.nav-icon{
		text-align: center;
	}
	.nav-icon .glyphicon{
		display: block;
		font-size: 2.0em;
		margin-bottom: 10px;
	}
	.nav-icon .badge{
		position: absolute;
		top:20px;
		right: 5px;
		padding: 0px 3px;
		line-height: 2;
		background-color: #ff0000;
		border-radius: 15px;
		color:#ffffff;
		font-size: 11px;
	}
	.nav-icon-title{

	}
	div.container[role="main"]{
		height: 100%;
		margin-top: 50px;
		padding: 0px 0px;
	}
	.list-cell{
		height: 300px;
		margin:10px 0px;
		padding: 5px 5px;
		border: 1px solid #e0e0e0;
	}
	.list-cell-inner{
		height: 230px;
		padding: 0px 0px;
	}
}

/* xs  */
@media screen and (max-width: 640px){
	.navbar-toggle{
		margin-right: 5px !important;
		border-color: #999 !important;
		color: #f0f0f0;
		font-size: 80%;
	}
	div.container[role="main"]{
		margin-top: -20px;
		padding: 0px;
	}
	.list-cell{
		height: 200px;
		padding: 0px;
	}	
	.list-cell-inner{
		height: 200px;
		overflow: hidden;
		white-space: normal;
		text-overflow: ellipsis;
		font-weight: lighter;
	}
	.list-cell-inner-chart{
		position: absolute;
		top: -1px;
		right: 0;
		height:100%;
		width:70px;
		padding: 0px 3px;
		background: -moz-linear-gradient(right,rgba(0,0,0,0) 0%, rgba(0,0,0,0.5));
		background: -webkit-gradient(linear,right center,left center,from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0.0)));
		text-align: center;
		font-size: 23px;
		text-shadow: 0.5px 0.5px 1px #000000;
	}
	.glyphicon-bookmark{
		display: block;
	}
	.list-cell-inner-title{
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 100px;
		max-height:100px;
		padding: 10px;
		background: -moz-linear-gradient(bottom,rgba(0,0,0,0) 0%, rgba(0,0,0,0.5));
		background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.5)));
		letter-spacing: 0.1em;
	}
	.list-cell-inner-title p{
		display: inline-block;
		position: absolute;
		bottom: 25px;
		width: 97%;
		padding: 0px;
		margin: 3px 0px;
		color: #ffffff;
		opacity: 0.7;
		font-size: 17px;
		text-shadow: 0.7px 0.7px 1px #000000;
	}
	.list-cell-inner-info{
		position: absolute;
		bottom: 5px;
		width: 100%;
		height: 20px;
		max-height:50px;
		padding: 0px 10px;
		padding-bottom: 20px;
		letter-spacing: 0.1em;
		color: #ffffff;
		opacity: 0.7;
		font-size: 13px;
	}
	.seemore{
		height: 100px;
		padding: 40px;
		border-radius: 0px;
	}
	/* sidr settings */
	.sidr ul li a,.sidr ul li span{
		padding:0 5px !important;
		vertical-align: middle !important;
	}
	.sidr-class-nav-icon{
		padding: 0px !important;
	}
	.sidr-class-nav-icon-title{
		display: inline-block !important;
		padding-left: 5px !important;
	}
	.sidr-class-glyphicon{
		padding: 0px !important;
		display: inline-block !important;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	.sidr-class-glyphicon-film:before {
		content: "\e009";
	}
	.sidr-class-glyphicon-th-list:before {
		content: "\e012";
	}
	.sidr-class-glyphicon-bell:before {
		content: "\e123";
	}
	.sidr-class-glyphicon-user:before {
		content: "\e008";
	}
	.sidr-class-glyphicon-chevron-right:before {
		content: "\e080";
	}
	.sidr-class-glyphicon-chevron-right{
		display: block !important; 
		position: relative;
		top: 10px;
		float: right;
		padding: 0px !important;
		font-size:0.8em !important;
	}

	.sidr ul li ul li a,.sidr ul li ul li span{
		padding-left: 55px !important;
	}
	.sidr-class-badge{
		display: inline-block !important;
		min-width: 10px;
		margin-left:10px !important;
		padding: 3px 3px !important;
		line-height: 1.5;
		background-color: #ff0000;
		color:#ffffff;
		border-radius: 15px !important;
		border-radius: 10px;
	}
}


/* film pics */
#mov1 {
	background-image: url(../images/movie/1.jpg);
}
#mov2 {
	background-image: url(../images/movie/2.jpg);
}
#mov3 {
	background-image: url(../images/movie/3.jpg);
}
#mov4 {
	background-image: url(../images/movie/4.jpg);
}
#mov5 {
	background-image: url(../images/movie/5.jpg);
}
#mov6 {
	background-image: url(../images/movie/6.jpg);
}
#mov7 {
	background-image: url(../images/movie/7.jpg);
}
#mov8 {
	background-image: url(../images/movie/8.jpg);
}
#mov9 {
	background-image: url(../images/movie/9.jpg);
}
#mov10 {
	background-image: url(../images/movie/10.jpg);
}
#mov11 {
	background-image: url(../images/movie/11.jpg);
}
#mov12 {
	background-image: url(../images/movie/12.jpg);
}