extends _application

block content
  #content.ui-frame
  //-
    .ui-main
      .content-tiles.clearfix

        //- ここにコンテンツを読み込む

        //- 映画アイテム
        .content-tile
          a.js-navigate-single.clearfix(href='javascript:void(0)')
            .content-header
              <% if (wanted) { %>
              .wanted
                i.fa.fa-star
                span <%- wanted %>
              <% } %>
            .content-article
              .release-date
              h2.title <%- title %>
            .content-footer
              date.hidden

      .content-tiles-more

