*~
.Apple*
.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project

bower_components
client/components

node_modules
npm-debug.log
.nodectl.run

pids
logs
results

static/images/thumbs
dist
_public
